.header-admin {
    display        : flex;
    align-items    : flex-start;
    padding        : 3.2rem;
    justify-content: space-between;

    &--logo {
        width: 20rem;
    }
}

.user-nav {
    align-self : stretch;
    display    : flex;
    align-items: center;
    cursor     : pointer;

    &:hover {
        opacity: 0.5;
    }

    &>* {
        margin-right: 1rem;
    }

    &__user-photo {
        width        : 3.75rem;
        border-radius: 50%;
    }

    &__user-photo {
        width        : 3.75rem;
        border-radius: 50%;
        border       : 1px solid $color-text;
    }
}