.back-login-button {
    margin-top      : 2.4rem;
    width           : 100%;
    background-color: #fff;
    color           : $color-text-heading;
    border          : 1px solid $color-text-heading;

    &:hover {
        background-color: #fff;
    }
}