.container {
    position: relative;
    padding : 50px 0;
}

.form-container {
    background-color: #fff;
    border-radius   : 10px;
    box-shadow      : 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    overflow       : hidden;
    width          : 768px;
    max-width      : 100%;
    min-height     : 600px;
    align-items    : center;
    transition     : all 0.6s ease-in-out;
    display        : flex;
    justify-content: center;
    margin         : auto;

    .form-title {
        font-size    : 30px;
        font-weight  : bold;
        text-align   : center;
        margin-bottom: 20px;
    }

}

.label {
    font-size  : .9rem;
    color      : #1d1f1a;
    font-weight: 500;
}

.group {
    display: block;

    +.group {
        margin-top: 20px;
    }

    +.row {
        margin-top: 20px;
    }
}

.row-group {
    margin-bottom: 30px;
}

.footer {
    text-align: center;

    button {
        &:hover {
            opacity: 0.8;
        }
    }

    a {
        margin-top: 10px;
    }

    ul.login-logo {
        display        : flex;
        align-items    : center;
        margin         : auto;
        justify-content: center;
        margin         : 10px;
        gap            : 10px;

        li {
            box-shadow   : 0 0 8px rgb(0 0 0 / 30%);
            border-radius: 100%;
        }
    }


}