@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Afrah";
    src: url('assets/font/Afrah/Afrah-Bold.ttf') format('truetype');
}

@font-face {
    font-family: "Afrah-Light";
    src: url('assets/font/Afrah/Afrah-Light.ttf') format('truetype');
}

@font-face {
    font-family: "Montserrat";
    src: url('assets/font/Montserrat/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
    font-family: "AnonymusPro";
    src: url('assets/font/AnonymusPro/AnonymousPro-Bold.ttf') format('truetype');
}

.heading {
    font-family: "Afrah", sans-serif;
}

.heading-light {
    font-family: "Afrah-Light", sans-serif;
}

.text {
    font-family: "Montserrat", sans-serif;
}

.text-ano {
    font-family: "AnonymusPro", sans-serif;
}